<?xml version="1.0"?>
<!--
/**
 * Magento
 * @category   Payment
 * @package    Pdt_ir123pay
 * @copyright  Copyright (c) 2013 123pay Development Team
 * @see http://123pay.ir
 */
-->
<config>
    <modules>
        <Pdt_ir123pay>
            <version>1.0.0</version>
        </Pdt_ir123pay>
    </modules>

    <global>
        <models>
            <ir123pay>
                <class>Pdt_ir123pay_Model</class>
            </ir123pay>
        </models>
        <helpers>
            <ir123pay>
                <class>Pdt_ir123pay_Helper</class>
            </ir123pay>
        </helpers>
        <resources>
            <ir123pay_setup>
                <setup>
                    <module>Pdt_ir123pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ir123pay_setup>
            <ir123pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ir123pay_write>
            <ir123pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ir123pay_read>
        </resources>
        <blocks>
            <ir123pay>
                <class>Pdt_ir123pay_Block</class>
            </ir123pay>
        </blocks>
    </global>

    <frontend>
        <routers>
            <ir123pay>
                <use>standard</use>
                <args>
                    <module>Pdt_ir123pay</module>
                    <frontName>ir123pay</frontName>
                </args>
            </ir123pay>
        </routers>
        <translate>
            <modules>
                <Pdt_ir123pay>
                    <files>
                        <default>Pdt_ir123pay.csv</default>
                    </files>
                </Pdt_ir123pay>
            </modules>
        </translate>
        <layout>
            <updates>
                <ir123pay>
                    <file>ir123pay.xml</file>
                </ir123pay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Pdt_ir123pay>
                    <files>
                        <default>Pdt_ir123pay.csv</default>
                    </files>
                </Pdt_ir123pay>
            </modules>
        </translate>
    </adminhtml>
    <phoenix>
        <ir123pay>
            <verify_url>http://123pay.ir</verify_url>
        </ir123pay>
    </phoenix>
    <default>
        <payment>
            <ir123pay>
                <active>0</active>
                <model>ir123pay/ir123pay</model>
                <order_status>1</order_status>
                <title>سامانه پرداخت یک دو سه پی</title>
                <allowspecific>0</allowspecific>
                <use_store_currency>0</use_store_currency>
            </ir123pay>
        </payment>
    </default>
</config>